<div class="main-navbar">

    <div class="random-thing2" id="h1-thing2">
        <h1>false</h1>
    </div>


    <div class="left-side">
        <a href=""><h1>Ofdream</h1></a>
    </div>


    <div class="right-side">
        <a href="" id="home-page">Home</a>
        <a href="" id="about-page">About</a>
        <a href="" id="services-page">Services</a>
        <a href="" id="projects-page">Projects</a>
        <a href="" id="contact-page">Contact</a>
    </div>

    <div class="right-side-mobile">
        <i class="fa-solid fa-bars" onclick="menu_narbar_link()"></i>
    </div>

    <div class="dropdown" id="dropdown_ID">
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Services</a>
        <a href="">Projects</a>
        <a href="">Contact</a>
    </div>
</div>


<div class="scroll-navbar" id="scroll-navbarID">

    <div class="items">

        <div class="name">
            <h1>Cassie Rain</h1>
        </div>
    
    
        <div class="hamburger-menu">
            <i class="fa-solid fa-bars" onclick="scroll_navbar_dropdown()"></i>
        </div>

        <div class="dropdown-scroll-navbar" id="dropdown-scroll-navbarID">
            <div class="items">
                <a href="" id="first-a">Home</a>
                <a href="" id="second-a">About</a>
                <a href="">Services</a>
                <a href="">Projects</a>
                <a href="">Contact</a>
            </div>
        </div>

    </div>


</div>