<div class="filter_popup" id="filter_popupID">
    <div class="popup-content">
        <div class="close_button">
            <h3>Filter Projects:</h3>
            <i class="fa-solid fa-xmark" id="filterCloseID"></i>
        </div>
        <hr>

        <div class="filter_sets">
            <div class="set">
                <h5>Use Cases</h5>
                <hr>
                <div class="roless">
                    <p id="useCases_filter_APIs">APIs</p>
                    <p id="useCases_filter_data-focused">Data Focused</p>
                    <p id="useCases_filter_error-handling">Error Handling</p>
                    <p id="useCases_filter_online-payments">Online Payments</p>
                    <p id="useCases_filter_data-collecting">Data Collecting</p>
                    <p id="useCases_filter_web-frameworks">Web Frameworks</p>
                    <p id="useCases_filter_desktop-development">Desktop Development</p>
                </div>
            </div>

            <div class="set">
                <h5>Technologies Used</h5>
                <hr>
                <div class="roless">
                    <p id="techUsed_filter_python">Python</p>
                    <p id="techUsed_filter_typescript">TypeScript</p>
                    <p id="techUsed_filter_javascript">JavaScript</p>
                    <p id="techUsed_filter_scss">SCSS</p>
                    <p id="techUsed_filter_django">Django</p>
                    <p id="techUsed_filter_flask">Flask</p>
                    <p id="techUsed_filter_css">CSS</p>
                </div>
            </div>

            <div class="set">
                <h5>Type</h5>
                <hr>
                <div class="roless">
                    <p id="type_server-side-app">Server Side Apps</p>
                    <p id="type_client-side-app">Client Side Apps</p>
                    <p id="type_full-stack-app">Full Stack Apps</p>
                </div>
            </div>
        </div>


        <div class="buttons">
            <button id="reset_filter_button">Reset</button>
            <button id="filter_filter_button">Filter</button>
        </div>
    </div>
</div>