<div class="project_area">

    {% for project in posts %}

    <div class="project_container">
        <!-- .project_container has the style of display grid-->
            <div class="project">
                <!-- .project has a width and i want it to match the size of the image -->
                <img src="{{ project.imageCover }}" alt="{{ project.title }} image">
            
                <div class="info_stuff">
                    <h5>{{ project.title }}</h5>
        
                    <div class="tags">
                        {% for tag in project.technologies_used.split %}
                            <p id="tags">{{ tag.title }}</p >
                        {% endfor %}
                    </div>
                    <p>{{ project.short_description }}</p>
                </div>
    
                <div class="button">
                    <a href="#"><button>Learn More</button></a>
                </div>

            </div>


    </div>


    {% endfor %}
</div>