<!-- Popup container -->
<div class="entryWarning" id="entryWarningID">

    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>


        <h2 id="project_titleID"></h2>

        <div class="image_div_tags">

            <div class="img-div">
                <a href="" id="imageLINKID"><img src="" alt="" id="popupImageID"></a>
                <div class="live-demo-button">
                    <a href=""><button>Live Demo</button></a>
                </div>
            </div>

            <div class="tagsandMore">
                <h5>Technologies Used</h5>
                <div class="tags" id="tagsID">

                </div>

                <h5>Use Cases</h5>
                <div class="tags" id="casesID">
                    
                </div>

            </div>


        </div>



        <div class="shortD" id="shortDID">            
            
        </div>

        <div class="buttons_stuff">
            <a href="#" id="link2gitubID"><button class="quickshot-button-class">GitHub</button></a>
            <a href="#" id="learnMoreQuickShot"><button class="quickshot-button-class">Learn More</button></a>
        </div>


    </div>

</div>