{% load static %}

<div class="info-area">

    <div class="info-side">
        <h1>About Me</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse nostrum aliquid officia recusandae eos obcaecati ipsam ex sunt. Rerum dignissimos nesciunt architecto vel! Ipsa cupiditate corporis itaque quia, nobis vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam numquam quisquam mollitia reprehenderit eligendi, qui vel, tenetur nesciunt aperiam esse? Ullam laboriosam tenetur saepe quia.</p>
    </div>

    <div class="pic">
        <img src="{% static 'images/site_images/me.jpg' %}" alt="" srcset="" loading="lazy">
    </div>
</div>