{% load static %}

<div class="client-testimonials-area" id="old">

    <h1>Projects - Web Apps</h1>

    <div class="left-arrow">
        <!-- <i class="fa-solid fa-circle-left" onclick="go_back()"></i> -->
        <button onclick="go_back()" id="go_back1">GB</button>
    </div>


    
    <div class="clients" id="clientsID">


        <div class="feedback" id="feedbackID">
            <h5 id="title">Starbucks Mock Up</h5>
            
            <div class="img-div">
                <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                <div class="live-demo-button" id="live-demo-buttonID">
                    <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                </div>

            </div>


            <hr>
            <div class="icons">

                <div class="labels">
                    <a  onmouseover="showPopup222()" onmouseout="hidePopup222()" id="projects-page" onclick="open_techies()">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                    <button>More</button>
                </div>

                <div class="is" id="isID" onmouseover="showPopup222()" onmouseout="hidePopup222()">
                    <h5>Python</h5>
                    <h5>Sass</h5>
                    <h5>HTML5</h5>
                    <h5>JavaScript</h5>
                    <h5>Flask</h5>
                </div>
            </div>

        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 1</h5>

        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 1</h5>

        </div>
        
    </div>



    <div class="clients-display" id="clients_displayID">

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 2</h5>

        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 2</h5>

        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 2</h5>

        </div>
        
    </div>




    <div class="right-arrow" id="right-arrowID">
        <!-- <i class="fa-solid fa-circle-right" onclick="go_forward()"></i> -->
        <button onclick="go_forward()" id="go_forward1">GF</button>
    </div>
    
</div>



<div class="client-testimonials-area2" id="new">

    <h1>Projects - Web Apps</h1>

    <div class="left-arrow">
        <!-- <i class="fa-solid fa-circle-left" onclick="go_back()"></i> -->
        <button onclick="go_back()" id="go_back1">GB</button>
    </div>


    
    <div class="clients2" id="clientsID2">


        <div class="feedback" id="feedbackID">
            <h5 id="title">Starbucks Mock Up</h5>
            
            <div class="img-div">
                <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                <div class="live-demo-button" id="live-demo-buttonID">
                    <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                </div>

            </div>


            <hr>
            <div class="icons">

                <div class="labels">
                    <a  onmouseover="showPopup222()" onmouseout="hidePopup222()" id="projects-page" onclick="open_techies()">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                    <button>More</button>
                </div>

                <div class="is" id="isID" onmouseover="showPopup222()" onmouseout="hidePopup222()">
                    <h5>Python</h5>
                    <h5>Sass</h5>
                    <h5>HTML5</h5>
                    <h5>JavaScript</h5>
                    <h5>Flask</h5>
                </div>
            </div>

        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 1</h5>

        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 1</h5>

        </div>
        
    </div>



    <div class="clients-display2" id="clients_displayID2">

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 2</h5>

        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 2</h5>

        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed 
                quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.
            </p>

            <hr>
            <h5>Demo Client 2</h5>

        </div>
        
    </div>




    <div class="right-arrow" id="right-arrowID">
        <!-- <i class="fa-solid fa-circle-right" onclick="go_forward()"></i> -->
        <button onclick="go_forward()" id="go_forward1">GF</button>
    </div>
    
</div>



<div class="switch_buttons">

    <div class="first" id="firstDots">
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="second" id="secondDots">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="third" id="thirdDots">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
    </div>

</div>






<div class="see-more-display" id="see-more-displayID">
    <a href="#">See More</a>
</div>


<script src="{% static 'js/test.js' %}"></script>