{% load static %}



<div class="container_holder2">
    <h1>Projects Showcase</h1>
    
    <div class="left-arrow">
        <i class="fa-solid fa-square-caret-left" onclick="goBack2()" onmouseover="end_opens()"></i>
        <!-- <i class="fa-solid fa-circle-left" onclick="goBack2()" onmouseover="end_opens()"></i> -->
    </div>


        <!-- slide one -->
        <div class="clients" id="clientsID1">

            <div class="feedback" id="feedbackID">

                <div class="techines_now" id="techines_nowID">
                    <div class="xbutton">
                        <button id="backbutton"><i class="fa-solid fa-left-long" onclick="close_thingys('back')"></i></button>
                        <button onclick="close_thingys('close')"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="things" id="thingsID">
                        <h5 onclick="open_info_techie('python')">Python</h5>
                        <h5 onclick="open_info_techie('sass')">Sass</h5>
                        <h5 onclick="open_info_techie('html5')">HTML5</h5>
                        <h5 onclick="open_info_techie('js')">JavaScript</h5>
                        <h5 onclick="open_info_techie('flask')">Flask</h5>
                    </div>

                    <div class="things2" id="things2ID">
                        <p id="para_insert"></p>
                    </div>
                </div>

                <h5 id="title">Starbucks Mock Up1</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies_S1()">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID11">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>


        <!-- slide two -->
        <div class="clients22" id="clientsID22">

            <div class="feedback" id="feedbackID">
                <h5 id="title">Starbucks Mock Up2</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies4('isID4')">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID4">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>


        <!-- slide three -->
        <div class="clients32" id="clientsID33">

            <div class="feedback" id="feedbackID">
                <h5 id="title">Starbucks Mock Up3</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies7('isID7')">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID7">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>


        <!-- slide four -->
        <div class="clients4" id="clientsID44">

            <div class="feedback" id="feedbackID">
                <h5 id="title">Starbucks Mock Up4</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies7('isID7')">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID7">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>


        <!-- slide five -->
        <div class="clients5" id="clientsID55">

            <div class="feedback" id="feedbackID">
                <h5 id="title">Starbucks Mock Up5</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies7('isID7')">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID7">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>


        <!-- slide six -->
        <div class="clients6" id="clientsID66">

            <div class="feedback" id="feedbackID">
                <h5 id="title">Starbucks Mock Up6</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies7('isID7')">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID7">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>


        <!-- slide seven -->
        <div class="clients7" id="clientsID77">

            <div class="feedback" id="feedbackID">
                <h5 id="title">Starbucks Mock Up7</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies7('isID7')">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID7">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>


        <!-- slide eight -->
        <div class="clients8" id="clientsID88">

            <div class="feedback" id="feedbackID">
                <h5 id="title">Starbucks Mock Up8</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies7('isID7')">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID7">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>


        <!-- slide nine -->
        <div class="clients9" id="clientsID99">

            <div class="feedback" id="feedbackID">
                <h5 id="title">Starbucks Mock Up9</h5>
                
                <div class="img-div">
                    <a href="" id="ss"><img src="{% static 'images/project_images/starbucks/star1.png' %}" alt=""></a>
                    <!-- <a href="#"><img src="{% static 'images/product_showcases/dream.png' %}" alt=""></a> -->
                    <div class="live-demo-button" id="live-demo-buttonID">
                        <a href="" id="live-demo-buttonITSELF"><button>Live Demo</button></a>
                    </div>

                </div>


                <hr>
                <div class="icons">

                    <div class="labels">
                        <a onclick="open_techies7('isID7')">Technologies <span><i class="fa-solid fa-caret-down"></i></span></a>

                        <button>More</button>
                    </div>

                    <div class="is" id="isID7">
                        <h5>Python</h5>
                        <h5>Sass</h5>
                        <h5>HTML5</h5>
                        <h5>JavaScript</h5>
                        <h5>Flask</h5>
                    </div>
                </div>

            </div>
            
        </div>



        <div class="right-arrow">
            <!-- <i class="fa-solid fa-circle-right" onclick="goForward2()" onmouseover="end_opens2()"></i> -->
            <i class="fa-solid fa-square-caret-right" onclick="goForward2()" onmouseover="end_opens2()"></i>
        </div>
</div>



<div class="smaller_switch_arrows">
    <button onclick="goBack2()"><i class="fa-solid fa-square-caret-left"></i></button>
    <button><i class="fa-solid fa-square-caret-right" onclick="goForward23(event)"></i></button> 
</div>

<!-- fixing bug that when goForward23 is pressed it skips up -->

<br>
<div class="switch_buttons2" id="switch_buttonsID2">

    <div class="first" id="firstDots1">
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="second" id="secondDots1">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="third" id="thirdDots1">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="fourth" id="4Dots">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="fifth" id="5Dots">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="sixth" id="6Dots">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="sevenD" id="7Dots">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="eight" id="8Dots">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
    </div>

    <div class="nine" id="9Dots">
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-regular fa-circle"></i>
        <i class="fa-solid fa-circle"></i>
    </div>

</div>





<div class="see-more-display" id="see-more-displayID">
    <a href="#">See More</a>
</div>



<script src="{% static 'js/smallerScreens_projects.js'%}"></script>