<div class="navbar" id="oldNav">

    <div class="firstSide">
        <a href="{% url 'stripe_payment' %}"><h1>CEJ Kirk</h1></a>

        <div class="links">
            <div class="homeDropdown" id="homeDrops1">
                <a href="#" id="home-page1">Home <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown" id="dropdownID1">
                    <a href="{% url 'index' %}">Portfolio Home</a>
                    <a href="#">Backend Projects</a>
                    <a href="{% url 'index' %}">This Project Home</a>
                </div>
            </div>

            <div class="aboutDropdown" id="aboutDrops1">
                <a href="#" id="home-page1">About <i class="fa-solid fa-caret-down"></i></a>
                <div class="dropdown" id="dropdownID2">
                    <a href="#">About Project</a>
                    <a href="#">How It Works</a>
                    <a href="https://stripe.com/" target="_blank">Stripe API</a>
                </div>
            </div>

            <a href="#" id="about-page">Others <i class="fa-solid fa-caret-down"></i></a>
            <a href="#" id="contact-page">Contact</a>
        </div>
    </div>


    <div class="cart">      
        <!-- <a href="#"><i class="fa-solid fa-cart-shopping"></i></a> -->
        <a href="{% url 'cart' %}" id="cartbutton"><button><i class="fa-solid fa-cart-shopping"></i> Cart <span id="cartNum">0</span></button></a>
        <!-- <span class="dot" id="cart_itemsID">{{items}}</span> -->
    </div>


</div>



<div class="navbar2" id="navbar2">

    <div class="hamburgerMenu">
        <i class="fa-solid fa-bars" onclick="open_menu()"></i>
    </div>


    <div class="firstSide">
        <a href="{% url 'index' %}"><h1>CEJ Kirk</h1></a>
    </div>


    <div class="cart">
        <a href="{% url 'cart' %}" id="cartbutton1"><button><i class="fa-solid fa-cart-shopping"></i> Cart <span id="cartNum2">0</span></button></a>
    </div>


</div>


