{% load static %}
<div class="about-me-container">
    <div class="left-side">
        <img src="{% static 'images/project_images/ofdream/about-us1.jpg' %}" alt="" srcset="">
    </div>

    <div class="right-side">
        <img src="{% static 'images/project_images/ofdream/about-us2.jpg' %}" alt="" srcset="">

        <div class="right-side-stuff">
            <p id="about-me-p">About Me</p>
            <h5>Photographer Fun</h5>
            <p class="main-paragraphs">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat magni accusantium delectus natus omnis similique 
               necessitatibus ea pariatur odit quam eius, sint blanditiis commodi cum alias esse excepturi veniam voluptate.
            </p>

            <p class="main-paragraphs" id="margin-botton-side">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat magni accusantium delectus natus omnis similique 
               necessitatibus ea pariatur odit quam eius, sint blanditiis commodi cum alias esse excepturi veniam voluptate.
            </p>
            <a href="#">Learn More</a>
        </div>
    </div>
</div>