<div class="client-testimonials-area">

    <h1>Client Testimonials</h1>

    <div class="left-arrow">
        <i class="fa-solid fa-circle-left" onclick="switch_between1()"></i>
    </div>

    <div class="clients" id="clientsID">

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.</p>
            <hr>
            <h5>Client Demo 1</h5>
        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.</p>
            <hr>
            <h5>Client Demo 2</h5>
        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.</p>
            <hr>
            <h5>Client Demo 3</h5>
        </div>
        

    </div>

    <div class="clients-display" id="clients_displayID">

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.</p>
            <hr>
            <h5>Client Demo 4</h5>
        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.</p>
            <hr>
            <h5>Client Demo 5</h5>
        </div>

        <div class="feedback">
            <i class="fa-solid fa-quote-left"></i>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae expedita distinctio quis tempora! At sed quia architecto laborum repellat, dolor reiciendis incidunt esse, suscipit minus aperiam obcaecati libero? Tempora, distinctio.</p>
            <hr>
            <h5>Client Demo 6</h5>
        </div>
        
    </div>


    <div class="right-arrow" id="right-arrowID">
        <i class="fa-solid fa-circle-right" onclick="switch_between()"></i>
    </div>
    
</div>

<div class="button-switches" id="firstClientsDots">
    <i class="fa-solid fa-circle"></i>
    <i class="fa-regular fa-circle" onclick="switch_between()"></i>
</div>
<div class="button-switches2" id="secondClientsDots">
    <i class="fa-regular fa-circle" onclick="switch_between1()"></i>
    <i class="fa-solid fa-circle"></i>
</div>


<div class="see-more-display" id="see-more-displayID">
    <a href="#">See More</a>
</div>