{% load static %}


<footer>
    <div class="left-side">
        <img src="https://main553.b-cdn.net/portfolio/aero/logo.png" alt="">
        <p id="first"><b>AeroTherm Heaters</b>, 3900 N National Ave, Sioux Falls, SD 57104</p>
        <p id="second">Call Toll Free:  123-456-7891  9am to 7pm PST</p>
    </div>

    <div class="right-side">
        <div class="footer-links">
            <a href="#">Contact Us!</a>
            <a href="#">Privacy Policy</a>
        </div>
        <small>NOT THE REAL AeroTherm Heaters</small>
    </div>
</footer>

