{% load static %}



<nav id="narbar">
    <a href="/"><img src="https://main553.b-cdn.net/portfolio/aero/logo.png" alt=""></a>

    <div class="nav-columns">
        <div class="nav-item">
            <a href="#">About Us</a>
            <div class="dropdown-content">
                <a href="#">About AeroTherm</a>
                <a href="#">In The Media</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <div class="nav-item">
            <a href="#">Why Us?</a>
            <div class="dropdown-content">
                <a href="#">Why Us?</a>
                <a href="#">Why Preheat?</a>
            </div>
        </div>
        <div class="nav-item">
            <a href="#">Shop</a>
        </div>
        <div class="nav-item">
            <a href="#">Compare</a>
        </div>
        <div class="nav-item">
            <a href="#">Customer Planes</a>
            <div class="dropdown-content">
                <a href="#">Customer Planes</a>
                <a href="#">Testimonials</a>
            </div>
        </div>
        <div class="nav-item">
            <a href="#">Manuals</a>
        </div>
        <a href="#">FAQ</a>
        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>0</p>
        </div>

        <div class="mobile-screen-hamburger-pie-menu">
            <button id="mobile-nav-button"><i class="fa-solid fa-bars"></i></button>
        </div>
    </div>

</nav>
