<div class="footer">

    <div class="footer-left">

        <h1>CEJ <span>Van Niekirk</span></h1>

        <p class="footer-links">

          <a href="#" class="link-1">Home</a> 
        
          <a href="#" style="margin-left: 10;">About</a> 
          
          <a href="#" style="margin-left: 10;">Contact</a> 

        </p>
      </div>


      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Las Vegas U.S</span></p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1 (725) 726-0877</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:cejvanniekirk098@gmail.com">Email Me</a></p>
        </div>

      </div>

      
      <div class="footer-right">

        <p class="footer-company-about">
          <span>Little About Me</span>
          Hey, My name is Christopher and I am an inspiring developer who always looking to improve my skills. I am learning Python, it's toolkit Tkinter. I have skills in (Python, HTML, CSS, SqLite, MySQL, JS, Flask)

          I am currently working on adding projects and expending my skills with Python and front end development.
        </p>

        <div class="footer-icons">

          <a href="https://github.com/Christopher1994-1" target="_blank"><i class="fa fa-github"></i></a>

        </div>

      </div>
</div>