{% extends 'base.html' %}




{% block title %}   
    <title>CEJ Kirk - Homepage</title>
{% endblock title %}


{% block content %}
{% load static %}


    <input type="hidden" value="index" class="input_page">

    <h1 id="index_pageID">index</h1>

    {% include 'index_things/jumbotron.html' %}


    {% include 'index_things/info_area.html' %}


    {% include 'index_things/projects2.html' %}


    {% include 'index_things/smaller_screen.html' %}


    {% include 'index_things/contact_more.html' %}


    {% include 'index_things/github_banner.html' %}


    {% include 'index_things/popup.html' %}



    <script src="{% static 'js/index_.js' %}"></script>
    <script src="{% static 'js/index_contact.js' %}"></script>

{% endblock content %}