{% extends 'base.html' %}



{% block meta %}
    <meta name="description" content="Professional software development services tailored to your needs. Hire experienced software developers and engineers to bring your ideas to life with high-quality, scalable, and reliable solutions.">
    <meta name="keywords" content="software development, hire software developer, software engineer for hire, custom software solutions, professional software services">
{% endblock meta %}


{% block title %}   
    <title>CEJ Kirk - Homepage</title>
{% endblock title %}


{% block content %}
{% load static %}


    <input type="hidden" value="index" class="input_page">

    <h1 id="index_pageID">index</h1>


    <div class="jumbotron">
        {% load static %}   
    
        
          <div class="main_stuff">
            <h1 id="jumbotron_h1">CEJ Kirk</h1>
            <h5 id="jumbotron_h5">Full Stack Developer</h5>
          </div>
        
    
    </div>


    <div class="info-area">

        <div class="info-side">
            <h1>About Me</h1>
            {{about_me2|safe}}
        </div>
    
        <div class="pic">
            <img src="{% static 'images/site_images/me.jpg' %}" alt="" srcset="" loading="lazy">
        </div>
    </div>


    {% include 'index_things/projects2.html' %}


    {% include 'index_things/smaller_screen.html' %}


    {% include 'index_things/contact_more.html' %}


    <div class="github_conatiner">

        <div class="things1">
    
            <div class="side1 icon1 ii" id="one1">
                <i class="fa-brands fa-github" id="i1"></i>
            </div>
        
            <div class="side1" id="one-">
                <a href="https://github.com/Christopher1994-1" target="_blank"><h5>My GitHub</h5></a>
            </div>
        
            <div class="side1 icon2 ii2" id="one2">
                <i class="fa-solid fa-code" id="i2"></i>
            </div>
    
        </div>
    
    
    </div>


    {% include 'index_things/popup.html' %}



    <script src="{% static 'js/index_.js' %}"></script>
    <script src="{% static 'js/contact_information.js' %}"></script>
    <script src="{% static 'js/index_contact.js' %}"></script>

{% endblock content %}