{% extends 'base.html' %}



{% block title %}
    <title>Privacy Policy | CEJ Kirk</title>
{% endblock title%}

{% block content %}
<h1 id="index_pageID">pp</h1>


<div class="jumbotron1">
    {% load static %}   

    
      <div class="main_stuff">
        <h1 id="jumbotron_h1">Privacy Policy</h1>
        <h5 id="jumbotron_h5">Infomation</h5>
      </div>
    

</div>


<div class="privacy">
    <h1>Privacy Policy</h1>
    <p>Effective Date: August 18th, 2023</p>

    <p>The existence of this Privacy Policy is a commitment to respect and protect any visitor, potential client, or any other persons personal data or information through this web application. This privacy policy is intended to provide visitors, potential clients, or any other persons with information regarding how this web application undertakes the collection, processing, transformation, disclosure, retention, securing, analysis, erasure, and/or destruction of personal data.</p>

    <h5>The Types of Data I Collect.</h5>
    <p>When you browse this website, I may gather and store certain information about your visit. I automatically collect and store the following infomration about your visit:</p>

    <ol>
        <li>The internet domain and network address you use to access this site;</li>
        <li>The type of web browser and operating system you are using;</li>
        <li>The date and time of your visit;</li>
        <li>The pages you visit on this website and the duration of your visit;</li>
        <li>The website you visited before coming here if any;</li>
        <li>IP address;</li>
        <li>Other IP related data;</li>
        <li>ISP provider and ASN;</li>
        <li>General location;</li>
    </ol>


    <h5>Additional conditional collection;</h5>
    <ol>
        <li>Name;</li>
        <li>Email;</li>
        <li>Message;</li>
    </ol>
    <p>This data is only collected when/if you contact</p>

    <h5>How I Use Your Information:</h5>
    <p>Analytics: The collected data is used to analyze and understand how the visitors engage with the site. This information helps the site improve its reach, content, and performance of the site.</p>
    <p>Site Improvement: Understanding how visitors navigate the site helps make improvements to enhance user experience.</p>

    <h5>Sharing Your Personal Information:</h5>
    <p>I do not share your personal information with third parties. The information collected is used solely for the purposes outlined in this Privacy Policy.</p>

    <h5>Your Rights:</h5>
    <p>You have the right to contact me and request the following;</p>

    <ol>
        <li>Deletion of your personal data;</li>
        <li>Correction of your personal data;</li>
        <li>Obtain and view data;</li>
        <li>Right to confirm;</li>
    </ol>

    <h5>Applicable Laws:</h5>
    <p>This site functions in accordance with Washington State laws, including SB 5376 - 2019-20, regarding the collection of personal data.</p>

    <h5>Contact:</h5>
    <p>You make contact through clicking this link and messaging. <a href="#">Contact</a></p>

</div>

{% endblock content %}

