// Global Scss Variables
$text-color: rgba(255, 255, 255, 0.884);
$border-white: 2px solid white;
$border-black: 2px solid black;
$border-white-dotted: 2px dotted white;
$hover-color: rgb(184, 36, 36);

// $co: rgb(204, 204, 204);

$table-bg: #999999;
$table-border-color: #ddd;
$table-header-bg: #444;
$table-header-color: #fff;
$table-row-hover-color: #f5f5f5;

$jumbo_ptag_background: rgba(255, 255, 255, 0.842);

$transparent_color: rgba(255, 255, 255, 0);





body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}



.slide-forward {
    transform: translateX(-100%);
}


/***** Slide Left *****/
.slide-left {
    animation: 1.2s slide-left;
  }
  @keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}


/***** Slide Right *****/
.slide-right {
    animation: 1.2s slide-right;
  }
  @keyframes slide-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}


/***** Slide backk *****/
.slide-backk {
    animation: 1.2s slide-backk;
  }
  @keyframes slide-backk {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}







// CSS for the client testionials area
.container_holder {
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
    background-color: black;
    padding-top: 20px;

    h1 {
        text-align: center;
        margin-bottom: 10px;
        margin-bottom: 40px;
    }

    .left-arrow {
        position: absolute;
        color: white;
        top: 50%;
        z-index: 1;
        left: 2%; /* Adjust left to 50% */
        transform: translate(-50%); /* Update transform property */

        i {
            font-size: 25px;
            cursor: pointer;
        }
    
    }

    .right-arrow {
        position: absolute;
        color: white;
        top: 50%;
        z-index: 1;
        right: 0%; /* Adjust left to 50% */
        transform: translate(-50%); /* Update transform property */

        i {
            font-size: 25px;
            cursor: pointer;
        }

    }




    .clients {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        transition: transform 1.2s ease;

        .feedback {
            justify-self: center;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            width: 80%;
            color: black;
            padding: 20px;
            -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
            -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
            box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
            transition: transform 0.5s ease; 
            z-index: 10;

            .icons {
                margin-bottom: 5px;
                position: relative;
                z-index: 200;

                .labels {
                    display: flex;
                    justify-content: space-between;
                    a {
                        width: 60%;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        font-size: 17px;
                        cursor: pointer;
                    }
                    i {
                        font-size: 20px;
                        cursor: pointer;
                    }


                    button {
                        border: none;
                        padding: 5px;
                        width: 35%;
                        border-radius: 10px;
                        font-weight: bold;
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        background-color: #333;
                    }
                }

                .is {
                    position: absolute;
                    border: 1px solid white;
                    text-align: left;
                    width: 50%;
                    padding-top: 10px;
                    background-color: black;
                    transition: ease-out 0.3s;
                    z-index: 209;
                    display: none;

                    h5 {
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: none;
                        font-size: 13px;
                        margin-bottom: 10px;
                        margin-left: 10px;
                        cursor:help;
                    }
                    h5:hover { 
                        text-decoration: underline;
                    }
                }
            }


            .img-div {
                position: relative;
                z-index: 11;
              
                #ss {
                  display: block;
                  position: relative;
                  z-index: 1; // Set a higher z-index for #ss
                  transition: ease-in 0.2s;


                  img {
                    width: 100%;
                    border-radius: 5px;
                    box-shadow: 0 0 20px #ffffff; /* Adjust the color as needed */
                  }
              
                  &:hover {
                    filter: brightness(0.1); // Adjust the brightness as needed
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a dark box shadow
                  }
                }

                
              
                .live-demo-button {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  display: none;
                  z-index: 2; // Set a lower z-index for .live-demo-button

                  a {
                    button {
                        padding: 10px;
                        border: none;
                        background-color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        border-radius: 10px;
                    }
                  }
                }
              
                &:hover {
                  .live-demo-button {
                    display: block;
                  }
              
                  #ss {
                    filter: brightness(0.1); // Apply the same hover effect to #ss when hovering over the parent
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a dark box shadow
                  }
                }
            }


            i {
                font-size: 30px;
            }


            #title {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                margin-left: 5px;
            }

        }

        // Define the sliding in and out classes
        &.slideIn {
            .feedback {
                transform: translateX(0);
            }
        }
        
        &.slideOut {
        .feedback {
            transform: translateX(-100%);
        }
        }
    }



    .clients2 {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        transition: transform 1.2s ease;
        display: none;

        .feedback {
            justify-self: center;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            width: 80%;
            color: black;
            padding: 20px;
            -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
            -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
            box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
            transition: transform 0.5s ease; 
            z-index: 10;

            .icons {
                margin-bottom: 5px;
                position: relative;

                .labels {
                    display: flex;
                    justify-content: space-between;
                    a {
                        width: 60%;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        font-size: 17px;
                        cursor: pointer;
                    }
                    i {
                        font-size: 20px;
                        cursor: pointer;
                    }


                    button {
                        border: none;
                        padding: 5px;
                        width: 35%;
                        border-radius: 10px;
                        font-weight: bold;
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        background-color: #333;
                    }
                }

                .is {
                    position: absolute;
                    border: 1px solid white;
                    text-align: left;
                    width: 50%;
                    padding-top: 10px;
                    background-color: black;
                    transition: ease-out 0.3s;
                    display: none;

                    h5 {
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: none;
                        font-size: 13px;
                        margin-bottom: 10px;
                        margin-left: 10px;
                        cursor:help;
                    }
                    h5:hover { 
                        text-decoration: underline;
                    }
                }
            }


            .img-div {
                position: relative;
                z-index: 11;
              
                #ss {
                  display: block;
                  position: relative;
                  z-index: 1; // Set a higher z-index for #ss
                  transition: ease-in 0.2s;


                  img {
                    width: 100%;
                    border-radius: 5px;
                    box-shadow: 0 0 20px #ffffff; /* Adjust the color as needed */
                  }
              
                  &:hover {
                    filter: brightness(0.1); // Adjust the brightness as needed
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a dark box shadow
                  }
                }

                
              
                .live-demo-button {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  display: none;
                  z-index: 2; // Set a lower z-index for .live-demo-button

                  a {
                    button {
                        padding: 10px;
                        border: none;
                        background-color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        border-radius: 10px;
                    }
                  }
                }
              
                &:hover {
                  .live-demo-button {
                    display: block;
                  }
              
                  #ss {
                    filter: brightness(0.1); // Apply the same hover effect to #ss when hovering over the parent
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a dark box shadow
                  }
                }
            }


            i {
                font-size: 30px;
            }


            #title {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                margin-left: 5px;
            }

        }

        // Define the sliding in and out classes
        &.slideIn {
            .feedback {
                transform: translateX(0);
            }
        }
        
        &.slideOut {
        .feedback {
            transform: translateX(-100%);
        }
        }
    }


    .clients3 {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        transition: transform 1.2s ease;
        display: none;

        .feedback {
            justify-self: center;
            border-radius: 10px;
            background-color: rgb(255, 255, 255);
            width: 80%;
            color: black;
            padding: 20px;
            -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
            -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
            box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
            transition: transform 0.5s ease; 
            z-index: 10;

            .icons {
                margin-bottom: 5px;
                position: relative;

                .labels {
                    display: flex;
                    justify-content: space-between;
                    a {
                        width: 60%;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        font-size: 17px;
                        cursor: pointer;
                    }
                    i {
                        font-size: 20px;
                        cursor: pointer;
                    }


                    button {
                        border: none;
                        padding: 5px;
                        width: 35%;
                        border-radius: 10px;
                        font-weight: bold;
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        background-color: #333;
                    }
                }

                .is {
                    position: absolute;
                    border: 1px solid white;
                    text-align: left;
                    width: 50%;
                    padding-top: 10px;
                    background-color: black;
                    transition: ease-out 0.3s;
                    display: none;

                    h5 {
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: none;
                        font-size: 13px;
                        margin-bottom: 10px;
                        margin-left: 10px;
                        cursor:help;
                    }
                    h5:hover { 
                        text-decoration: underline;
                    }
                }
            }


            .img-div {
                position: relative;
                z-index: 11;
              
                #ss {
                  display: block;
                  position: relative;
                  z-index: 1; // Set a higher z-index for #ss
                  transition: ease-in 0.2s;


                  img {
                    width: 100%;
                    border-radius: 5px;
                    box-shadow: 0 0 20px #ffffff; /* Adjust the color as needed */
                  }
              
                  &:hover {
                    filter: brightness(0.1); // Adjust the brightness as needed
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a dark box shadow
                  }
                }

                
              
                .live-demo-button {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  display: none;
                  z-index: 2; // Set a lower z-index for .live-demo-button

                  a {
                    button {
                        padding: 10px;
                        border: none;
                        background-color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: bold;
                        border-radius: 10px;
                    }
                  }
                }
              
                &:hover {
                  .live-demo-button {
                    display: block;
                  }
              
                  #ss {
                    filter: brightness(0.1); // Apply the same hover effect to #ss when hovering over the parent
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); // Add a dark box shadow
                  }
                }
            }


            i {
                font-size: 30px;
            }


            #title {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                margin-left: 5px;
            }

        }

        // Define the sliding in and out classes
        &.slideIn {
            .feedback {
                transform: translateX(0);
            }
        }
        
        &.slideOut {
        .feedback {
            transform: translateX(-100%);
        }
        }
    }

    
}



.all-project-stuff {
    background-color: black;
    padding-bottom: 20px;
}



.switch_buttons {
    text-align: center;
    z-index: 200;
    background-color: black;


    .first {
        i {
            font-size: 20px;
            margin-left: 10px;
            cursor: default;
            color: rgb(255, 255, 255);
        }
    }

    .second {
        display: none;
        i {
            font-size: 20px;
            margin-left: 10px;
            cursor: default;
            color: rgb(255, 255, 255);
        }
    }

    .third {
        display: none;

        i {
            font-size: 20px;
            margin-left: 10px;
            cursor: default;
            color: rgb(255, 255, 255);
        }
    }
}




.techies {
    cursor: pointer;
}




.info_popup_lan {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%; /* Adjust left to 50% */
    transform: translate(-50%, -50%); /* Update transform property */
    z-index: 11;
    padding: 10px;
    border-radius: 10px;
    border: $border-white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 230);
    display: none;

    label {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .xbutton2 {
        margin-bottom: 10px;
        button {
            background-color: black;
            border: none;
            color: white;
        }
    }
}



.seeAll_projects {
    margin-top: 35px;
    text-align: center;

    a {
        button {
            width: 20%;
            border-radius: 10px;
            padding: 10px;
            background-color: white;
            border: none;
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 700;
        }
    }

}


@media(max-width:989px) {

    // CSS for the client testionials area
    .container_holder {
        color: white;
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        position: relative;

        .clients {
            display: grid;
            column-gap: 0px;
            grid-template-columns: 1fr 1fr;
            transition: transform 1.2s ease;
            row-gap: 10px;

            #feedbackID3 {
                display: none;
            }

        }

        .clients2 {
            column-gap: 0px;
            grid-template-columns: 1fr 1fr;
            transition: transform 1.2s ease;
            row-gap: 10px;

            #feedbackID34 {
                display: none;
            }

        }

        .clients3 {
            column-gap: 0px;
            grid-template-columns: 1fr 1fr;
            transition: transform 1.2s ease;
            row-gap: 10px;

            #feedbackID33 {
                display: none;
            }

        }
        
    }

}



@media(max-width:663px) {

    .all-project-stuff {
        display: none;
    }
    // CSS for the client testionials area
    .container_holder {
        color: white;
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        position: relative;
        display: none;
    }

    .switch_buttons {
        display: none;
    }

    .seeAll_projects {
        display: none;
    }

}