// Global Scss Variables
$text-color: rgba(255, 255, 255, 0.884);
$border-white: 2px solid white;
$border-black: 2px solid black;
$border-white-dotted: 2px dotted white;
$hover-color: rgb(184, 36, 36);

// $co: rgb(204, 204, 204);

$table-bg: #999999;
$table-border-color: #ddd;
$table-header-bg: #444;
$table-header-color: #fff;
$table-row-hover-color: #f5f5f5;

$jumbo_ptag_background: rgba(255, 255, 255, 0.842);

$transparent_color: rgba(255, 255, 255, 0);



@media(max-width:1115px) {
    // CSS for the first navbar
    .navbar {
        display: flex;
        justify-content: space-between;

        .firstSide {
            margin-left: 30px;
            a {
                color: white;
                text-decoration: none;

                h1 {
                    border-bottom: 3px solid rgb(255, 255, 255);
                }
            }

        }

        .links {
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin-right: 20px;

        }
    }

    // CSS for the first navbar
    .navbar2 {
        display: flex;
        justify-content: space-between;
        display: none;

        .firstSide {
            margin-left: 30px;
            a {
                color: white;
                text-decoration: none;

                h1 {
                    border-bottom: 3px solid rgb(255, 255, 255);
                }
            }

        }

        .links {
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin-right: 20px;

        }
    }

    // CSS for the  client testionials area
    .client-testimonials-area {


        .left-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            left: 2%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 25px;
                cursor: pointer;
            }
        
        }

        .right-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            right: 0%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 25px;
                cursor: pointer;
            }

        }

        .clients {
            display: grid;
            column-gap: 0px;
            grid-template-columns: 1fr 1fr 1fr;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }

        #clients_displayID {
            display: grid;
            column-gap: 0px;
            grid-template-columns: 1fr 1fr 1fr;
            display: none;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }

        }
    }
}



// Media Max Width ~ 1000px ~
@media(max-width:1000px) {
    // CSS for the picture and summary
    .info-area {

        .info-side {
            width: 50%;
            color: white;

            h1 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
            }
        }

    }

    // CSS for the  client testionials area
    .client-testimonials-area {


        .left-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            left: 5%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 45px;
                cursor: pointer;
            }
        
        }

        .right-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            right: 2%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 45px;
                cursor: pointer;
            }

        }

        .clients {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }


        #clients_displayID  {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;
            display: none;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }
    }
    
}



@media(max-width:900px) {
    // CSS for the first navbar
    .navbar {
        display: flex;
        justify-content: space-between;

        .firstSide {
            margin-left: 30px;
            a {
                color: white;
                text-decoration: none;

                h1 {
                    border-bottom: 3px solid rgb(255, 255, 255);
                }
            }

        }

        .links {
            display: none;
        }

        .hamburgerMenu {
            display: block;
        }
    }


    // CSS for the first navbar
    .navbar2 {
        display: flex;
        justify-content: space-between;
        display: none;

        .firstSide {
            margin-left: 30px;
            a {
                color: white;
                text-decoration: none;

                h1 {
                    border-bottom: 3px solid rgb(255, 255, 255);
                }
            }

        }

        .links {
            display: none;
        }

        .hamburgerMenu {
            display: block;
        }
    }
}




// Media Max Width ~ 837px ~
@media(max-width:837px) {
    // CSS for the  client testionials area
    .client-testimonials-area {


        .left-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            left: 5%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 45px;
                cursor: pointer;
            }
        
        }

        .right-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            right: 0%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 45px;
                cursor: pointer;
            }

        }

        .clients {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }


        #clients_displayID  {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;
            display: none;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }
    }

}



// Media Max Width ~ 700px ~
@media(max-width:700px) {
    // CSS for the picture and summary
    .info-area {
        flex-direction: column;
        margin-top: 0px;

        .info-side {
            width: 90%;
            color: white;

            h1 {
                font-size: 20px;
            }
            p {
                font-size: 12px;
            }
        }

        .pic {
            img {
                max-width: 270px;
                height: auto;
            }
        }

    }

    // Main CSS for the Jumbotron
    .jumbotron {
        height: 600px;
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden;
        margin-bottom: 10px;
    }

}




// Media Max Width ~ 671px ~
@media(max-width:671px) {

    // CSS for the  client testionials area
    .client-testimonials-area {


        .left-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            left: 5%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 35px;
                cursor: pointer;
            }
        
        }

        .right-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            right: 0%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 35px;
                cursor: pointer;
            }

        }

        .clients {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }


        #clients_displayID  {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;
            display: none;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }
    }

}



@media(max-width:500px) {
    // Main CSS for the Jumbotron
    .jumbotron {

        .main_stuff {

            h1 {
                color: white;
                font-size: 60px;
            }

            h5 {
                color: white;
                font-size: 40px;
            }
        }
    }

}





// Media Max Width ~ 480px ~
@media(max-width:480px) {

    // CSS for the  client testionials area
    .client-testimonials-area {


        .left-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            left: 5%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 30px;
                cursor: pointer;
            }
        
        }

        .right-arrow {
            position: absolute;
            color: white;
            z-index: 100;
            top: 50%;
            right: 0%; /* Adjust left to 50% */
            transform: translate(-50%); /* Update transform property */

            i {
                font-size: 30px;
                cursor: pointer;
            }

        }

        .clients {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }


        #clients_displayID  {
            display: grid;
            row-gap: 20px;
            grid-template-columns: 1fr;
            display: none;

            .feedback {
                justify-self: center;
                border-radius: 10px;
                background-color: white;
                width: 80%;
                color: black;
                padding: 20px;
                -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
                -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
                box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);

                i {
                    font-size: 30px;
                }

            }
        }
    }

}