@media (max-width: 1115px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar .firstSide {
    margin-left: 30px;
  }
  .navbar .firstSide a {
    color: white;
    text-decoration: none;
  }
  .navbar .firstSide a h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .navbar .links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-right: 20px;
  }
  .navbar2 {
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .navbar2 .firstSide {
    margin-left: 30px;
  }
  .navbar2 .firstSide a {
    color: white;
    text-decoration: none;
  }
  .navbar2 .firstSide a h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .navbar2 .links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-right: 20px;
  }
  .footer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 70px;
  }
  .footer .footer_stuffs {
    display: flex;
    justify-content: center;
  }
  .footer .footer_stuffs .footer-left {
    border-right: 2px solid white;
    width: 30%;
  }
  .footer .footer_stuffs .footer-left h1 {
    color: rgba(255, 255, 255, 0.884);
    font-family: Arial, Helvetica, sans-serif;
  }
  .footer .footer_stuffs .footer-left h1 span {
    color: rgb(177, 67, 67);
  }
  .footer .footer_stuffs .footer-left .footer-links {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  .footer .footer_stuffs .footer-left .footer-links a {
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
    font-weight: bold;
  }
  .footer .footer_stuffs .footer-left .footer-links a:hover {
    text-decoration: underline;
  }
  .footer .footer_stuffs .footer-center {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid white;
  }
  .footer .footer_stuffs .footer-center .itemInner {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .footer .footer_stuffs .footer-center .itemInner .inv {
    visibility: hidden;
  }
  .footer .footer_stuffs .footer-center .itemInner i {
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    width: 38px;
    font-size: 20px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  .footer .footer_stuffs .footer-center .itemInner p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
  }
  .footer .footer_stuffs .footer-center .itemInner p a {
    color: white;
    text-decoration: none;
  }
  .footer .footer_stuffs .footer-right {
    width: 30%;
  }
  .footer .footer_stuffs .footer-right .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin-left: 20px;
  }
  .footer .footer_stuffs .footer-right .footer-company-about #first_span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .footer .footer_stuffs .footer-right .footer-company-about p {
    margin-left: 20px;
  }
  .footer .footer_stuffs .footer-right .footer-icons {
    margin-left: 20px;
  }
  .footer .footer_stuffs .footer-right .footer-icons a {
    color: white;
  }
  .footer .footer_stuffs .footer-right .footer-icons a span {
    font-size: 10px;
    margin-left: 10px;
  }
  .footer .lastP {
    text-align: center;
    margin-top: 50px;
    bottom: 0;
  }
  .footer .lastP h5 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .info-area .info-side {
    width: 50%;
    color: white;
  }
  .info-area .info-side h1 {
    font-size: 25px;
  }
  .info-area .info-side p {
    font-size: 15px;
  }
}
@media (max-width: 920px) {
  .footer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 70px;
  }
  .footer .footer_stuffs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer .footer_stuffs .smallerScreenHR {
    display: block;
  }
  .footer .footer_stuffs .footer-left {
    border-right: none;
    width: 100%;
    text-align: center;
  }
  .footer .footer_stuffs .footer-left h1 {
    color: rgba(255, 255, 255, 0.884);
    font-family: Arial, Helvetica, sans-serif;
  }
  .footer .footer_stuffs .footer-left h1 span {
    color: rgb(177, 67, 67);
  }
  .footer .footer_stuffs .footer-left .footer-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
  }
  .footer .footer_stuffs .footer-left .footer-links a {
    color: rgba(255, 255, 255, 0.884);
    text-decoration: none;
    font-weight: bold;
  }
  .footer .footer_stuffs .footer-left .footer-links a:hover {
    text-decoration: underline;
  }
  .footer .footer_stuffs .footer-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
  }
  .footer .footer_stuffs .footer-center .itemInner {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .footer .footer_stuffs .footer-center .itemInner .inv {
    visibility: hidden;
  }
  .footer .footer_stuffs .footer-center .itemInner i {
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    width: 38px;
    font-size: 20px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  .footer .footer_stuffs .footer-center .itemInner p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
  }
  .footer .footer_stuffs .footer-center .itemInner p a {
    color: white;
    text-decoration: none;
  }
  .footer .footer_stuffs .footer-right {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 900px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar .firstSide {
    margin-left: 30px;
  }
  .navbar .firstSide a {
    color: white;
    text-decoration: none;
  }
  .navbar .firstSide a h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .navbar .links {
    display: none;
  }
  .navbar .hamburgerMenu {
    display: block;
  }
  .navbar2 {
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .navbar2 .firstSide {
    margin-left: 30px;
  }
  .navbar2 .firstSide a {
    color: white;
    text-decoration: none;
  }
  .navbar2 .firstSide a h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .navbar2 .links {
    display: none;
  }
  .navbar2 .hamburgerMenu {
    display: block;
  }
}
@media (max-width: 700px) {
  .info-area {
    flex-direction: column;
    margin-top: 15%;
  }
  .info-area .info-side {
    width: 90%;
    color: white;
  }
  .info-area .info-side h1 {
    font-size: 20px;
  }
  .info-area .info-side p {
    font-size: 12px;
  }
  .info-area .pic img {
    max-width: 270px;
    height: auto;
  }
  .jumbotron {
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .jumbotron .main_stuff h1 {
    color: white;
    font-size: 60px;
  }
  .jumbotron .main_stuff h5 {
    color: white;
    font-size: 40px;
  }
}/*# sourceMappingURL=smaller_screens.css.map */