@media (max-width: 1115px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar .firstSide {
    margin-left: 30px;
  }
  .navbar .firstSide a {
    color: white;
    text-decoration: none;
  }
  .navbar .firstSide a h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .navbar .links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-right: 20px;
  }
  .navbar2 {
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .navbar2 .firstSide {
    margin-left: 30px;
  }
  .navbar2 .firstSide a {
    color: white;
    text-decoration: none;
  }
  .navbar2 .firstSide a h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .navbar2 .links {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-right: 20px;
  }
  .client-testimonials-area .left-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    left: 2%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .left-arrow i {
    font-size: 25px;
    cursor: pointer;
  }
  .client-testimonials-area .right-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    right: 0%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .right-arrow i {
    font-size: 25px;
    cursor: pointer;
  }
  .client-testimonials-area .clients {
    display: grid;
    -moz-column-gap: 0px;
         column-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .client-testimonials-area .clients .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area .clients .feedback i {
    font-size: 30px;
  }
  .client-testimonials-area #clients_displayID {
    display: grid;
    -moz-column-gap: 0px;
         column-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    display: none;
  }
  .client-testimonials-area #clients_displayID .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area #clients_displayID .feedback i {
    font-size: 30px;
  }
}
@media (max-width: 1000px) {
  .info-area .info-side {
    width: 50%;
    color: white;
  }
  .info-area .info-side h1 {
    font-size: 25px;
  }
  .info-area .info-side p {
    font-size: 15px;
  }
  .client-testimonials-area .left-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    left: 5%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .left-arrow i {
    font-size: 45px;
    cursor: pointer;
  }
  .client-testimonials-area .right-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    right: 2%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .right-arrow i {
    font-size: 45px;
    cursor: pointer;
  }
  .client-testimonials-area .clients {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }
  .client-testimonials-area .clients .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area .clients .feedback i {
    font-size: 30px;
  }
  .client-testimonials-area #clients_displayID {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    display: none;
  }
  .client-testimonials-area #clients_displayID .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area #clients_displayID .feedback i {
    font-size: 30px;
  }
}
@media (max-width: 900px) {
  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navbar .firstSide {
    margin-left: 30px;
  }
  .navbar .firstSide a {
    color: white;
    text-decoration: none;
  }
  .navbar .firstSide a h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .navbar .links {
    display: none;
  }
  .navbar .hamburgerMenu {
    display: block;
  }
  .navbar2 {
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .navbar2 .firstSide {
    margin-left: 30px;
  }
  .navbar2 .firstSide a {
    color: white;
    text-decoration: none;
  }
  .navbar2 .firstSide a h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
  }
  .navbar2 .links {
    display: none;
  }
  .navbar2 .hamburgerMenu {
    display: block;
  }
}
@media (max-width: 837px) {
  .client-testimonials-area .left-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    left: 5%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .left-arrow i {
    font-size: 45px;
    cursor: pointer;
  }
  .client-testimonials-area .right-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    right: 0%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .right-arrow i {
    font-size: 45px;
    cursor: pointer;
  }
  .client-testimonials-area .clients {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }
  .client-testimonials-area .clients .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area .clients .feedback i {
    font-size: 30px;
  }
  .client-testimonials-area #clients_displayID {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    display: none;
  }
  .client-testimonials-area #clients_displayID .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area #clients_displayID .feedback i {
    font-size: 30px;
  }
}
@media (max-width: 700px) {
  .info-area {
    flex-direction: column;
    margin-top: 0px;
  }
  .info-area .info-side {
    width: 90%;
    color: white;
  }
  .info-area .info-side h1 {
    font-size: 20px;
  }
  .info-area .info-side p {
    font-size: 12px;
  }
  .info-area .pic img {
    max-width: 270px;
    height: auto;
  }
  .jumbotron {
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    margin-bottom: 10px;
  }
}
@media (max-width: 671px) {
  .client-testimonials-area .left-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    left: 5%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .left-arrow i {
    font-size: 35px;
    cursor: pointer;
  }
  .client-testimonials-area .right-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    right: 0%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .right-arrow i {
    font-size: 35px;
    cursor: pointer;
  }
  .client-testimonials-area .clients {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }
  .client-testimonials-area .clients .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area .clients .feedback i {
    font-size: 30px;
  }
  .client-testimonials-area #clients_displayID {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    display: none;
  }
  .client-testimonials-area #clients_displayID .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area #clients_displayID .feedback i {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .jumbotron .main_stuff h1 {
    color: white;
    font-size: 60px;
  }
  .jumbotron .main_stuff h5 {
    color: white;
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .client-testimonials-area .left-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    left: 5%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .left-arrow i {
    font-size: 30px;
    cursor: pointer;
  }
  .client-testimonials-area .right-arrow {
    position: absolute;
    color: white;
    z-index: 100;
    top: 50%;
    right: 0%; /* Adjust left to 50% */
    transform: translate(-50%); /* Update transform property */
  }
  .client-testimonials-area .right-arrow i {
    font-size: 30px;
    cursor: pointer;
  }
  .client-testimonials-area .clients {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
  }
  .client-testimonials-area .clients .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area .clients .feedback i {
    font-size: 30px;
  }
  .client-testimonials-area #clients_displayID {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    display: none;
  }
  .client-testimonials-area #clients_displayID .feedback {
    justify-self: center;
    border-radius: 10px;
    background-color: white;
    width: 80%;
    color: black;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
  }
  .client-testimonials-area #clients_displayID .feedback i {
    font-size: 30px;
  }
}/*# sourceMappingURL=smaller_screens.css.map */