// Global Scss Variables
$text-color: rgba(255, 255, 255, 0.884);
$border-white: 2px solid white;
$border-black: 2px solid black;
$border-white-dotted: 2px dotted white;
$hover-color: rgb(184, 36, 36);

// $co: rgb(204, 204, 204);

$table-bg: #999999;
$table-border-color: #ddd;
$table-header-bg: #444;
$table-header-color: #fff;
$table-row-hover-color: #f5f5f5;

$jumbo_ptag_background: rgba(255, 255, 255, 0.842);

$transparent_color: rgba(255, 255, 255, 0);



@media(max-width:1115px) {
    // CSS for the first navbar
    .navbar {
        display: flex;
        justify-content: space-between;

        .firstSide {
            margin-left: 30px;
            a {
                color: white;
                text-decoration: none;

                h1 {
                    border-bottom: 3px solid rgb(255, 255, 255);
                }
            }

        }

        .links {
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin-right: 20px;

        }
    }

    // CSS for the first navbar
    .navbar2 {
        display: flex;
        justify-content: space-between;
        display: none;

        .firstSide {
            margin-left: 30px;
            a {
                color: white;
                text-decoration: none;

                h1 {
                    border-bottom: 3px solid rgb(255, 255, 255);
                }
            }

        }

        .links {
            display: flex;
            justify-content: space-around;
            width: 60%;
            margin-right: 20px;

        }
    }


    // CSS for the footer
    .footer {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 70px;

        .footer_stuffs {
            display: flex;
            justify-content: center;

            
        .footer-left {
            border-right: $border-white;
            width: 30%;

            h1 {
                color: $text-color;
                font-family: Arial, Helvetica, sans-serif;

                span {
                    color: rgb(177, 67, 67);
                }
            }

            .footer-links {
                display: flex;
                justify-content: space-around;
                width: 70%;
                a {
                    color: $text-color;
                    text-decoration: none;
                    font-weight: bold;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }


        .footer-center {
            width: 30%;
            display: flex;
            flex-direction: column;
            border-right: $border-white;

            .itemInner {
                display: flex;
                width: 100%;
                justify-content: center;

                .inv {
                    visibility: hidden;
                }

                i {
                    background-color:  $text-color;
                    color: black;
                    width: 38px;
                    font-size: 20px;
                    height: 38px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 42px;
                    margin: 10px 15px;
                    vertical-align: middle;
                }

                p {
                    display: inline-block;
                    color: #ffffff;
                    font-weight:400;
                    vertical-align: middle;
                    margin:0;

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }


        .footer-right {
            width: 30%;

            .footer-company-about {
                line-height: 20px;
                color:  #92999f;
                font-size: 13px;
                font-weight: normal;
                margin-left: 20px;

                #first_span {
                    display: block;
                    color:  #ffffff;
                    font-size: 14px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                p {
                    margin-left: 20px;
                }

            }


            .footer-icons {
                margin-left: 20px;
                a {
                    color: white;
                    span {
                        font-size: 10px;
                        margin-left: 10px;
                    }
                }
            }

        }

        }

        .lastP {
            text-align: center;
            margin-top: 50px;
            bottom: 0;

            h5 {
                color: white;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }
        }


    }




}



// Media Max Width ~ 1000px ~
@media(max-width:1000px) {
    // CSS for the picture and summary
    .info-area {

        .info-side {
            width: 50%;
            color: white;

            h1 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
            }
        }

    }

    
}




@media(max-width:920px) {
    // CSS for the footer
    .footer {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 70px;

        .footer_stuffs {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .smallerScreenHR {
                display: block;
            }

            
        .footer-left {
            border-right: none;
            width: 100%;
            text-align: center;

            h1 {
                color: $text-color;
                font-family: Arial, Helvetica, sans-serif;

                span {
                    color: rgb(177, 67, 67);
                }
            }

            .footer-links {
                display: flex;
                justify-content: space-around;
                width: 60%;
                margin: auto;
                a {
                    color: $text-color;
                    text-decoration: none;
                    font-weight: bold;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }


        .footer-center {
            width: 100%;
            display: flex;
            flex-direction: column;
            border: none;

            .itemInner {
                display: flex;
                width: 100%;
                justify-content: center;

                .inv {
                    visibility: hidden;
                }

                i {
                    background-color:  $text-color;
                    color: black;
                    width: 38px;
                    font-size: 20px;
                    height: 38px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 42px;
                    margin: 10px 15px;
                    vertical-align: middle;
                }

                p {
                    display: inline-block;
                    color: #ffffff;
                    font-weight:400;
                    vertical-align: middle;
                    margin:0;

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }


        .footer-right {
            width: 100%;
            text-align: center;

        }

        }


    }
}



@media(max-width:900px) {
    // CSS for the first navbar
    .navbar {
        display: flex;
        justify-content: space-between;

        .firstSide {
            margin-left: 30px;
            a {
                color: white;
                text-decoration: none;

                h1 {
                    border-bottom: 3px solid rgb(255, 255, 255);
                }
            }

        }

        .links {
            display: none;
        }

        .hamburgerMenu {
            display: block;
        }
    }


    // CSS for the first navbar
    .navbar2 {
        display: flex;
        justify-content: space-between;
        display: none;

        .firstSide {
            margin-left: 30px;
            a {
                color: white;
                text-decoration: none;

                h1 {
                    border-bottom: 3px solid rgb(255, 255, 255);
                }
            }

        }

        .links {
            display: none;
        }

        .hamburgerMenu {
            display: block;
        }
    }
}





// Media Max Width ~ 700px ~
@media(max-width:700px) {
    // CSS for the picture and summary
    .info-area {
        flex-direction: column;
        margin-top: 15%;

        .info-side {
            width: 90%;
            color: white;

            h1 {
                font-size: 20px;
            }
            p {
                font-size: 12px;
            }
        }

        .pic {
            img {
                max-width: 270px;
                height: auto;
            }
        }

    }

    // Main CSS for the Jumbotron
    .jumbotron {
        height: 600px;
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden;
        margin-bottom: 10px;
    }

}





@media(max-width:500px) {
    // Main CSS for the Jumbotron
    .jumbotron {

        .main_stuff {

            h1 {
                color: white;
                font-size: 60px;
            }

            h5 {
                color: white;
                font-size: 40px;
            }
        }
    }

}


